<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="icon" href="../images/wikimap-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-map.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/interface.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>New WikiMap</title>
</head>

<body>

  <!-- side toggle bar -->
  <span id="side-nav">
    <div class="nav-content">
      <!-- logo -->
      <span>
        <span>
          <img class="logo" src="../images/WikiMap-logos.png">
        </span>
        <br>
        <br>
        <div>
          <!-- profile button -->
          <form method="GET" action="/profile/1">
            <button class="side-btn" type="submit">Profile</button>
          </form>
        </div>
      </span>
    </div>
  </span>

  <div id="profile-container">
    <!-- top navbar -->
    <header id="top-nav">
      <span class="expand">
        <i class="fa-solid fa-grip-lines"></i>
      </span>
      <div class="side-greeting">
        Welcome back, <br> <strong> user</strong>
      </div>
    </header>

    <main id="main-content">


             <!-- map title & rating -->
            <div class="new-map-title">
              <form method="POST" action="/maps/new" id="new-map-form">
                <lable for="map-title"><strong>New Map Title</strong></lable>
                <br>
                <br>
                <input type="text" name ="map_title">
                <br>
                <br>
                <lable for="map-category"><strong>Map Category</strong></lable>
                <br>
                <br>
                <input type="text" name ="map_category">
                <br>
                <br>
                <lable for="map-description"><strong>Description</strong></lable>
                <br>
                <br>
                <textarea name="map_description" id="new-map-form"></textarea>
                <br>
                <br>
                <button class="new-btn" type="submit">submit</button>
              </form>
            </div>




    </main>
  </div>
</body>
</html>
