<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../images/wikimap-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/interface.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Profile</title>
</head>

<body>


  <div>
    <!-- top navbar -->
    <header id="top-nav">
      <span>
        <img class="top-logo" src="../images/WikiMap-logos-white.png">
      </span>
      <form type="GET" action="/maps/new">
        <button class="top-btn">Create New Map</button>
      </form>
    </header>


    <main id="profile-main-content">

      <!-- profile + biography -->
      <div id="profile">
        <div class="profile-picture-container">
          <img class="profile-picture"
            src="<%= user.profile_picture_url %>">
        </div>
        <div class="biography">
          <span>
            <p class="user-name"><u><%= user.username %></u></p>
            <p><%= user.bio %></p>
          </span>
          <span>
            <p>Total Upvotes: n</p>
          </span>
        </div>
      </div>


      <div id="my-maps-container">

        <!-- container of my maps -->
        <div class="my-maps">
          <header class="container-title"> My Maps </header>
          <!-- map articles -->

          <div class="map-article">
            <header class="article-header">
              <form type="GET" action="/maps/:id">
                <button class="title-btn">Downtown</button>
              </form>
              <div>
                <p>category</p>
              </div>
            </header>
            <div class="article-body">
              <p>DESCRIPTION</p>
              <div class="upvote">
                <p>Upvotes: n</p>
              </div>
            </div>
            <div class="article-footer">
              <form>
                <button class="favorite-btn">Favorite</button>
              </form>
              <form type="GET" action="/maps/:id/edit">
                <button class="edit-btn">edit</button>
              </form>
              <form>
                <button class="delete-btn">delete</button>
              </form>
            </div>
          </div>

        </div>

        <!-- container of my favorite maps -->
        <div class="my-favorites">
          <header class="container-title">My Favorites</header>
          <div class="map-article">


            <header class="article-header">
              <form type="GET" action="/maps/:id">
              <button class="title-btn">map1_title</button>
            </form>
            <div>
              <p>category</p>
            </div>
            </header>
            <div class="article-body">

              <p>fav map description!</p>
              <div class="upvote">
                <p>Upvotes: n</p>
              </div>
            </div>
            <div class="article-footer">
              <form>
                <button class="unfavorite-btn">Un-favorite</button>
              </form>
              <form type="GET" action="/maps/:id/edit">
                <button type='submit' class="edit-btn">edit</button>
              </form>
              <form>
                <button class="delete-btn">delete</button>
              </form>
            </div>


          </div>
        </div>
      </div>

    </main>
  </div>
</body>
</html>
