<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h2>PROFILE</h2>


  <header class="profile">
    <span class="profile-picture">
      <img src="https://roost.nbcuni.com/bin/viewasset.html/content/dam/Peacock/Campaign/landingpages/library/theoffice/characterbios/office-character-jim-min.png/_jcr_content/renditions/original?downsize=1200:*&output-quality=70">
    </span>
    <p class="user"><strong>Jim&nbsp</strong>Halpert</p>
  </header>

  <label for="favorites">Favorites</label>
  <ul>
    <li>map1</li>
    <p>comment1</p>
    <p>rating 1</p>
    <p>edit / delete</p>
    <li>map2</li>
    <p>comment2</p>
    <p>rating 2</p>
    <p>edit / delete</p>
    <li>map3</li>
    <p>comment3</p>
    <p>rating 3</p>
    <p>edit / delete</p>
  </ul>
</body>
</html>
