
@mixin list() {
  border-radius: 10px;
  margin-bottom: 3%;
}



// dashboard-main
#profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  #main-content {
    display: flex;
    padding: 1.5%;
    height: 100%;
    gap: 1.5%;


    // content of left half
    .marker-container {
      display: flex;
      flex-direction: column;
      width: 40%;

      input {
        border: none;
        border-radius: 7px;
        width: 11vw;
        height: 20px;
      }

      textarea {
        border: none;
        border-radius: 7px;
        width: 13vw;
        height: 30px;
        resize: none;
      }

      .marker-list-container {
        display: flex;
        font-size: 0.8em;
        gap: 3%;
        height: 37%;

        .list-title {
          background-color: #D5D8DB;
          text-align: center;
          padding: 4.5%;
          width: 50%;
          @include list();
        }
        .list {
          background-color: #d8d8d8b7;
          padding: 1% 6%;
          width: 50%;
          overflow: auto;
          overflow-wrap: break-word;
          hyphens: auto;
          @include list();
          button {
            border: none;
            background-color: #d8d8d800;
            cursor: pointer;
          }
        }
      }

      .new-btn {
        padding: 0.3em 0.7em;
        font-size: 1em;
        border: none;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.822);
        background:  #afda9d;
        border-radius: 10px;
        border-style: outset;
        transition: 0.2s ease-in-out;
        &:hover {
          background: #e88383;
          box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.596);
        }
      }

      .new-marker {
        display: none;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
        font-size: 0.8em;
        border-radius: 10px;
        padding: 13% 10%;
        height: 63%;
        background-color: #eeeeee;

        input {
          border: none;
          border-radius: 7px;
          width: 24vw;
          height: 25px;
        }

        textarea {
          border: none;
          border-radius: 7px;
          width: 24vw;
          height: 100px;
          resize: none;
        }

        .latlong {
          display: none;
        }

      }

      .edit-marker {
        display: flex;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
        font-size: 0.8em;
        border-radius: 10px;
        padding: 8%;
        height: 63%;
        background-color: #eeeeee;

        input {
          border: none;
          border-radius: 7px;
          width: 24vw;
          height: 25px;
        }

        textarea {
          border: none;
          border-radius: 7px;
          width: 24vw;
          height: 60px;
        }



      }
    }

    .map-container {
      width: 60%;
      #map_canvas {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}
